body {
  background-color: lightgray;
}

.content {
  display: flex;
  flex-direction: row;
}

.messages {
  border: 1px solid red;
  display: flex;
  width: 70%;
}

.users {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  width: 30%;
}